{% extends "base.html" %}

{% block title %}カテゴリの追加{% endblock %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/form_styles.css') }}">
<div class="container">
    <h2 class="title">新しいカテゴリを追加</h2>
    {% for category, message in get_flashed_messages(with_categories=true) %}
        <div class="alert {{ category }}">{{ message }}</div>
    {% endfor %}
    <form method="post" action="{{ url_for('admin.add_category') }}">
        <div id="formContainer">
            <div class="form-group-container show">
                <div class="form-group">
                    <label for="category">カテゴリ名<span class="required">*</span></label>
                    <input type="text" name="category" required>
                </div>
                <div class="form-group">
                    <label for="other">その他の情報</label>
                    <textarea name="other"></textarea>
                </div>
            </div>
        </div>
        <div class="button-container">
            <button type="button" class="btn-add" onclick="addAnotherCategory()">
                <span class="plus-icon">＋</span> 新しいカテゴリを追加する
            </button>
        </div>
        <div class="button-container">
            <button type="submit" class="btn-primary">追加</button><br>
            <a href="{{ url_for('admin.list_category') }}" class="btn-secondary">キャンセル</a>
        </div>
    </form>
</div>

<script>
function addAnotherCategory() {
    const container = document.getElementById('formContainer');
    const newFormGroup = document.createElement('div');
    newFormGroup.className = 'form-group-container';
    newFormGroup.innerHTML = `
        <button type="button" class="btn-remove" onclick="removeCategory(this)">×</button>
        <div class="form-group">
            <label for="category">カテゴリ名<span class="required">*</span></label>
            <input type="text" name="category" required>
        </div>
        <div class="form-group">
            <label for="other">その他の情報</label>
            <textarea name="other"></textarea>
        </div>`;
    container.appendChild(newFormGroup);
    
    // アニメーション用のクラスを追加
    setTimeout(() => {
        newFormGroup.classList.add('show');
    }, 10);

    newFormGroup.scrollIntoView({ behavior: 'smooth', block: 'start' });
}

function removeCategory(button) {
    const formGroup = button.closest('.form-group-container');
    formGroup.classList.add('hide');
    formGroup.addEventListener('transitionend', function() {
        formGroup.remove();
    });
}
</script>

{% endblock %}
