{% extends 'base.html' %}

{% block title %}避難所追加{% endblock %}

{% block content %}
        <h1>避難所追加</h1>

        {% for category, message in get_flashed_messages(with_categories=true) %}
            <div class="flash-message {{ category }}">{{ message }}</div>
        {% endfor %}

        <div>
            <a href="{{ url_for('shelter.upload_shelter') }}">
                <button>csvから避難所を追加する</button>
            </a>
        </div>

        <form method="POST" action="{{ url_for('shelter.add_shelter') }}">
            <label for="name">名称:</label>
            <input type="text" id="name" name="name" required>
            <br>

            <label for="address">住所:</label>
            <input type="text" id="address" name="address" required>
            <br>

            <label for="latitude">緯度:</label>
            <input type="text" id="latitude" name="latitude" required>
            <br>

            <label for="longitude">経度:</label>
            <input type="text" id="longitude" name="longitude" required>
            <br>

            <label for="altitude">高度:</label>
            <input type="text" id="altitude" name="altitude" required>
            <br>

            <button type="submit">追加</button>
        </form>
        <br>
        <a href="{{ url_for('shelter.manage_shelters') }}">管理者一覧に戻る</a>
{% endblock %}