{% extends 'base.html' %}

{% block title %}避難所編集{% endblock %}

{% block content %}

    <h1>避難所編集</h1>

    {% for category, message in get_flashed_messages(with_categories=true) %}
        <div class="flash-message {{ category }}">{{ message }}</div>
    {% endfor %}

    <form method="POST">
        <div class="form-group">
            <label for="name">避難所名</label>
            <input type="text" name="name" class="form-control" value="{{ shelter.name }}" required>
        </div>
        <div class="form-group">
            <label for="name">住所</label>
            <input type="text" name="address" class="form-control" value="{{ shelter.address }}" required>
        </div>
        <div class="form-group">
            <label for="name">緯度</label>
            <input type="text" name="latitude" class="form-control" value="{{ shelter.latitude }}" required>
        </div>
        <div class="form-group">
            <label for="name">経度</label>
            <input type="text" name="longitude" class="form-control" value="{{ shelter.longitude }}" required>
        </div>
        <!-- <div class="form-group">
            <label for="name">高度</label>
            <input type="text" name="altitude" class="form-control" value="{{ shelter.altitude }}" required>
        </div> -->

        <button type="submit" class="btn btn-primary">更新</button>
    </form>

{% endblock %}